.root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.budget-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-grow: 1;
}

.budget-item>.description,
.budget-item>.amount {
    padding: 0 10px;
}

.budget-item>.description p,
.budget-item>.amount p {
    margin: 0;
    font-size: 16px;
}

.budget-item.income p {
    color: #4CAF50;
    /* Green for income */
}

.budget-item.expense p {
    color: #F44336;
    /* Red for expenses */
}

.x-icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: #dc3545;
    border-radius: 50%;
}

.x-icon-button svg {
    fill: white;
}

.x-icon-button:hover {
    background-color: #c82333;
}

/* Accessibility improvements */
.x-icon-button:focus {
    outline: 2px solid #fff;
    outline-offset: 2px;
}