<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)" class="flex-form">
  <div class="flex-item">
    <input
      type="number"
      required
      name="amount"
      class="input amount-input"
      placeholder="Amount"
      [ngModel]="item.amount"
    />
  </div>
  <div class="flex-item">
    <input
      type="text"
      required
      name="description"
      class="input description-input"
      placeholder="Description"
      [ngModel]="item.description"
    />
  </div>
  <div class="flex-item">
    <button
      type="submit"
      class="button submit-button"
      [ngClass]="{ 'is-primary': isNewItem, 'is-success': !isNewItem }"
      [disabled]="!itemForm.valid"
    >
      <span *ngIf="isNewItem">Add</span>
      <span *ngIf="!isNewItem">Save</span>
    </button>
  </div>
</form>
