<!-- <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Hello
        <h3>{{ username }}</h3>
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search"
        aria-label="Search" />
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a style="background: red; color: #fff; border-radius: 4px; margin: 10px"
                class="nav-link px-3 cursor-pointer" (click)="logout()">Sign out</a>
        </div>
    </div>
</header> -->
<div class="container">
    <h2>Create New Transaction</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            <input type="number" class="form-control" id="Amount" [(ngModel)]="transaction.Amount" name="Amount"
                required>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <input type="text" class="form-control" id="Category" [(ngModel)]="transaction.Category" name="Category"
                required>
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="Date" [(ngModel)]="transaction.Date" name="Date" required>
        </div>
        <!-- <div class="mb-3">
            <label for="userId" class="form-label">User ID</label>
            <input type="number" class="form-control" id="userId" [(ngModel)]="setCurrentUserId" name="userId" required>
        </div> -->
        <button type="submit" class="btn btn-primary">Add Transaction</button>
    </form>
</div>